@charset "UTF-8";

body{
    background-color: #81B386;
    margin: 0%;
}

header{
    text-align: center;
    width: auto;
    height: auto;
    padding: 10px 10px;
    background-image: linear-gradient( to top , #2B6632 , #9fcfa5);
}
main{
    background-color: honeydew;
    width: 50%;
    padding: 12px;
    margin: auto;
}