@charset "UTF-8";
@font-face {
  font-family: "Londrina";
  src: url(font/Londrina.ttf);
}

header {
  text-align: center;
  width: auto;
  height: auto;
  padding: 5px;
  background-image: linear-gradient(to top, #2b6632, #9fcfa5);
}

h1{
  color: rgb(255, 255, 255);
  font: normal lighter 3em "Londrina";
}

header > p {
  color: rgb(255, 255, 255);
  font: normal lighter 20px "Sans-serif";
  padding-bottom: 0px;
  text-align: center;
}

menu {
  padding: 0;
  align-items: center;
  justify-content: center;
  display: flex;
}

menu > ul {
  padding: 0;
  list-style: "";
  font: normal lighter 20px "sans-serif";
  display: flex; 
}

#menu a:hover {
  color: rgb(124, 252, 0);
  transition: 600ms;
}

#menu :link {
  color: rgb(240, 255, 240);
  text-decoration: none;
  padding: 12px;
}

#menu :visited {
  color: rgb(255, 255, 255);
}
a{
  color: #104115;
}
body {
  background-color: #81b386;
  margin: 0%;
}

img{
  width: 60%;
  margin: auto;
  display: block;
}

div {
  text-align:center;
  position: relative; 
  overflow: hidden;
}

.title {
  color: green;
  font: normal lighter 30px "Londrina";
  background-color: rgba(141, 209, 141, 0.411);
  border-radius: 15px;
  padding: 8px;
}

main {
  background-color: honeydew;
  width: 80%;
  max-width: 750px;
  padding: 18px;
  margin: auto;
  font: normal lighter 20px "sans-serif";
}
aside {
  background-color: rgba(26, 102, 26, 0.164);
  border-radius: 20px;
  padding: 5px;
}

abbr{
  text-decoration: none;
}

aside > p {
  margin: 5%;
}

aside > h4 {
  margin: 0px;
}

#AndroidList {
  list-style: "✓ ";
  column-count: 2;
}

footer {
  background-color: #2b6632;
  color: white;
  font: normal lighter 15px "Sans-serif";
  text-align: center;
  padding: 5px;
}